*{
    margin:0;
    padding:0;
}
body{
    background-color:rgb(252, 246, 246);
}

 main{
    width: 80%;
    margin:auto;
    margin-top:100px;
    display:flex;
    background-color: black;
    height:80vh;
    align-items: center;
    
 }
.a{
    background-color:rgb(228, 56, 56);
    margin:auto;
    width:10vh;
    height:10vh;
    float:left;
}
.b{
    background-color:rgb(233, 163, 59);
    border:1px solid black;
    height:10vh;
    width:10vh;
    float:right;
}
 .c{

    background-color: green;
    border:1px solid black;
    height:10vh;
    width:10vh;
    float:left;
 }
 .d{
  
    background-color:blue;
    border:1px solid black;
    height:10vh;
    width:10vh;
    float:right;
 }
 .e{
   
    background-color:blue;
    border:1px solid black;
    height:10vh;
    width:10vh;
 }

 <!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="grid.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700&family=Lexend+Deca&family=Lexend+Zetta&display=swap" rel="stylesheet">
        <title> A design using css grid</title>

    </head>
    <body>
        <main>
            <div class="a"></div>
            <div class="b"></div>
            <div class="c"></div>
            <div class="d"></div>
            <div class="e"></div>
        </main>
    </body>
</html>